<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <main>
      <header><h1><%= title %></h1></header>
      <section>
        <form action="/new" method="POST">
          <div>
            <label for="username">Username: </label>
            <input type="text" name="username" id="username" required />
          </div>
          <button type="submit">Register</button>
        </form>
      </section>
    </main>
  </body>
</html>
